
#buddha-showing {
  display: none;
}

#buddha{
  display: none;
}
.clickable:hover {
  text-decoration: underline;
}

.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}


.clickable1:hover {
  text-decoration: underline;
}

.clickable1 {
  cursor: pointer;
  color: #0088cc;
}
